@use "../utilities/variables";
@use "../utilities/extends";

.btn-more{
    @extend %botton; 
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
    
}
.btn-more:hover{
    color: rgb(255, 85, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(138, 138, 137, 0.95);
}
.btn-more {
    color: rgb(255, 85, 0);
    background-color: white;
    border: none;
    cursor: pointer;
    @extend %botton; 

} 
.btn-read{
    @extend %botton; 
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}
.btn.btn-primary{
    background-color: rgb(255, 85, 0);
    border: none;
    cursor: pointer;
    @extend %botton; 

}
.btn.btn-submit {
    background-color: rgb(255, 85, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-content-wrapper .btn-more{
    background-color: rgb(52, 80, 52);
    color: white;
    border: none;
    cursor: pointer;
    @extend %botton; 

}

@media (max-width: 450px) {
    
    
    
    .btn-more, .btn-read {
        width: 100%;
        text-align: center;
    }
}   
