@use "../utilities/variables";
@use "../utilities/mixins";

.contact-section p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;

    h2 {
    color: rgb(255, 85, 0);
    font-size: 30px;
    margin-bottom: 20px;
}
}

.map-container {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 8px;
    }
}

.container{
    @include mixins.flex(row, center, center);
    }
.contact-info-card {
    width: 500px;
}
.contact-form-card{
    width: 500px;
}



.contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;

    button {
        background-color: rgb(255, 136, 0);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
    }
    input, .contact-form textarea {
        width: 300px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}
.contact-item {
    color: rgb(255, 128, 0);
    font-size: 20px;
    margin: 5px 0;
}


.col {
    padding: 10px;
    flex: 1;
    max-width: 100%;
    height: auto;
    margin-left: 400px;
}
.lead{
    text-align: center;
    color: white;
    margin: 50px;
}

.form-label {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 5px;
}

@media (max-width: 1024px) {
    .col{
        margin-left: 30px;
    }
}
