@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
body {
  font-family: oswald, sans-serif;
  padding: 0%;
  margin: 0;
  background-color: #151414;
}

h1 {
  text-align: center;
  color: rgb(255, 140, 0);
  font-size: 40px;
  margin-top: 45px;
}

@media (max-width: 450px) {
  .card-container, .soluciones, .blog-cards {
    flex-direction: column;
    align-items: center;
  }
}
.card-container {
  margin: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #2c3e50;
  width: 300px;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-soluciones {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #364e65;
  width: 300px;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}
.card-soluciones h2 {
  color: rgb(255, 85, 0);
  font-size: 24px;
  margin-bottom: 10px;
}
.card-soluciones p {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.card-soluciones img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-blog {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: rgb(113, 103, 93);
  width: 300px;
}
.card-blog img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-text {
  color: rgb(60, 56, 56);
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 20px;
}

.blog-ia {
  width: 100px;
  height: 100px;
  background-color: rgb(251, 249, 248);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.section-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.blog-header-img {
  width: 60%;
  max-width: 1200px;
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: rgb(255, 255, 255);
}

.form-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.form-blog button {
  background-color: rgb(254, 150, 4);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-blog input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-section p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}
.contact-section p h2 {
  color: rgb(255, 85, 0);
  font-size: 30px;
  margin-bottom: 20px;
}

.map-container {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}
.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-info-card {
  width: 500px;
}

.contact-form-card {
  width: 500px;
}

.contact-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
.contact-form button {
  background-color: rgb(255, 136, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.contact-form input, .contact-form .contact-form textarea {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-item {
  color: rgb(255, 128, 0);
  font-size: 20px;
  margin: 5px 0;
}

.col {
  padding: 10px;
  flex: 1;
  max-width: 100%;
  height: auto;
  margin-left: 400px;
}

.lead {
  text-align: center;
  color: white;
  margin: 50px;
}

.form-label {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .col {
    margin-left: 30px;
  }
}
.footer {
  background-color: #333333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #333333;
  box-shadow: 0 2px 2px rgba(227, 226, 226, 0.95);
}

.navbar-nav .nav-link:hover {
  background-color: #1A1A1A;
  color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(138, 138, 137, 0.95);
}

.nav-link {
  color: black;
  font-size: 20px;
  padding: 10px;
}

.nav-li {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
}

.logo {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 450px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
}
.h2-profesionales {
  color: rgb(169, 169, 169);
  font-size: 30px;
}

.h2-gerenciados {
  color: rgb(52, 80, 52);
  font-size: 30px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}
.carousel-caption h5 {
  color: rgb(255, 255, 255);
  font-size: 24px;
}
.carousel-caption p {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.carousel-caption ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}
.carousel-caption li {
  color: #fff;
  margin-bottom: 5px;
}
.carousel-caption .btn {
  margin-top: 15px;
}

.carousel.slide {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumen-servicios {
  padding-top: 50px;
  padding-bottom: 50px;
}
.resumen-servicios .row {
  align-items: center;
}
.resumen-servicios .resumen-texto {
  flex: 0 0 auto;
  width: 50%;
  text-align: center;
}
.resumen-servicios .resumen-imagen {
  flex: 0 0 auto;
  width: 50%;
  text-align: center;
}
.resumen-servicios h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.resumen-servicios p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.resumen-servicios img {
  border-radius: 8px;
}

.section-soluciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.section-soluciones p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}
.section-soluciones h2 {
  color: rgb(52, 80, 52);
  font-size: 30px;
}

.soluciones {
  margin: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.ul-cloud {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ul-cloud li {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 5px 0;
}

.ul-redes {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ul-redes li {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 5px 0;
}

.ul-infraestructura {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ul-infraestructura li {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 5px 0;
}

.ul-ciber {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ul-ciber li {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 5px 0;
}

.Conectividad {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.soluciones-proceso {
  padding: 100px 0;
}
.soluciones-proceso h2 {
  text-align: left;
  margin-bottom: 80px;
  color: rgb(255, 85, 0);
}
.soluciones-proceso .proceso-paso {
  padding: 20px;
  margin-bottom: 20px;
  text-align: right;
  color: #dee2e6;
}

.soluciones-por-que {
  padding: 60px 0;
  background-color: #343a40;
  color: #fff;
  text-align: right;
}
.soluciones-por-que h2 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(255, 85, 0);
}
.soluciones-por-que .por-que-punto {
  padding: 20px;
  margin-bottom: 20px;
}

.claro-logo {
  width: 100px;
  height: 100px;
}

.h2.Home {
  color: rgb(255, 85, 0);
  font-size: 30px;
  text-align: center;
}

.h3 {
  color: rgb(255, 140, 0);
  font-size: 24px;
  text-align: center;
}

.trans-logo {
  width: 300px;
  height: 100px;
}

.acc-logo {
  width: 100px;
  height: 100px;
}

.gobierno-de-la-provincia-de-cordoba {
  width: 300px;
  height: 100px;
}

.ciberseguridad {
  width: 150px;
  height: 100px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.infraestructura {
  width: 150px;
  height: 100px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.section-index h1 {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 140, 0);
  font-size: 3rem;
}
.section-index p {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
.section-index a {
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}
.section-index a:hover {
  text-decoration: underline;
}
.section-index h3 {
  color: rgb(255, 140, 0);
  font-size: 24px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 4rem;
}

.img {
  width: 100%;
  height: auto;
}

.section-index .btn-more {
  background-color: #ffd900;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.section-index {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.btn-more, .btn-read, .btn.btn-primary, .section-content-wrapper .btn-more {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-more {
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
}

.btn-more:hover {
  color: rgb(255, 85, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(138, 138, 137, 0.95);
}

.btn-more {
  color: rgb(255, 85, 0);
  background-color: white;
  border: none;
  cursor: pointer;
}

.btn-read {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: rgb(255, 85, 0);
  border: none;
  cursor: pointer;
}

.btn.btn-submit {
  background-color: rgb(255, 85, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section-content-wrapper .btn-more {
  background-color: rgb(52, 80, 52);
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 450px) {
  .btn-more, .btn-read {
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=scss.css.map */
